/node_modules
/public/app
/public/files
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.env
/composer.lock
/package-lock.json
