<p>
  post-details
</p>
<div class="container">
	<div *ngIf="post">
		<form (ngSubmit)="newPost()" #postForm="ngForm">
			<div class="form-group">
				<input 
				class="form-control" 
				type="text" 
				required
				name="title" 
				id="title"
				[(ngModel)]="post.title" 
				#title="ngModel"
				>	
			</div>
			<div [hidden]="title.valid || title.pristine"
             class="alert alert-danger">
          		Title is required
        	</div>
			<div class="form-group">
				<textarea 
				class="form-control" 
				required
				name="post" 
				id="post"
				[(ngModel)]="post.post" 
				#post_="ngModel"></textarea>	
			</div>
			<div [hidden]="post_.valid || post_.pristine"
             class="alert alert-danger">
          		Post is required
        	</div>
			<br/>
			<button type="submit" class="btn btn-success"
			[disabled]="!postForm.form.valid">Submit</button>
		</form>
	</div>
	<form (ngSubmit)="onSubmitPost()" #postAddForm="ngForm">
		<div class="form-group">
			<label for="title">Title</label>
			<input 
			type="text" 
			class="form-control" 
			id="title" 
			required
			placeholder="Add Post Title" 
			[(ngModel)]="addPost.title"
			name="title" 
			#add_Title="ngModel"
			>
		</div>
		<div [hidden]="add_Title.valid || add_Title.pristine"
             class="alert alert-danger">
          Title is required
        </div>
		<div class="form-group">
			<label for="post">Post</label>
			<textarea 
			class="form-control" 
			id="post" 
			required
			[(ngModel)]="addPost.post"
			name="post" 
			#add_Post="ngModel"></textarea>
		</div>
		<div [hidden]="add_Post.valid || add_Post.pristine"
             class="alert alert-danger">
          Post is required
        </div>
		<button type="submit" class="btn btn-success"
		[disabled]="!postAddForm.form.valid">Submit</button>
	</form>

</div>
		